@font-face {
  font-family: "Reey";
  src: url("../fonts/Reey-Regular.otf") format("opentype");
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url("../img/HeaderBackground.png");
  background-size: cover;
  font-family: "Open Sans", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1150px;
}

header {
  height: 96px;
}
header .menu {
  max-width: 1360px;
  text-transform: uppercase;
  font-size: 1.1em;
  padding-top: 2em;
  float: right;
}
header .menu .menu__item {
  margin: 0 1.5em;
  color: #fff;
  text-decoration: none;
}
header .menu .menu__input {
  margin: auto 0;
  border-radius: 30px;
  max-width: 120px;
  line-height: 30px;
  margin-right: 2em;
}

main .about {
  margin-bottom: 11em;
}
main .about h1 {
  font-family: "Reey";
  left: 100px;
  font-size: 5em;
  color: #fff;
}
main .about h2 {
  margin-top: 5em;
  font-style: italic;
  color: #fff;
}
main .about .about__btn {
  border-radius: 30px;
  padding: 8px 35px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.1em;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  color: #000;
  margin-top: 60px;
}
main .about .about__text {
  max-width: 480px;
  margin-top: 1.5em;
  color: #fff;
  font-size: 1.2em;
  font-style: italic;
  font-weight: 400;
}
main .about .about__logo {
  margin-bottom: 4em;
}
main .about .about__spaghetti {
  position: absolute;
  top: 10em;
  right: 14em;
  max-width: 35em;
}
main .about .about__souce {
  position: absolute;
  top: 40em;
  right: 36em;
}
main .about .about__leafs {
  position: absolute;
  top: 35em;
  right: 8em;
}
main .example {
  background-color: #fff;
  padding-bottom: 50px;
}
main .example .example__title {
  padding-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  font-family: "Reey";
  font-size: 5em;
}
main .example .example__text {
  text-align: center;
  font-size: 1.5em;
}
main .example .example__img {
  display: block;
  margin: 0 auto;
}
main .example .example__colums {
  margin-top: 6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .example .example__colums .example__colum1 {
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33%;
          flex: 33.33%;
}
main .example .example__colums .example__colum2 {
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33%;
          flex: 33.33%;
}
main .example .example__colums .example__colum3 {
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33%;
          flex: 33.33%;
}
main .example .example__btn {
  border-radius: 30px;
  padding: 8px 35px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.1em;
  font-family: "Open Sans", sans-serif;
  background-color: #343434;
  color: #fff;
  display: block;
  margin: 128px auto 0 auto;
}