@font-face {
  font-family: "Reey";
  src: url("../fonts/Reey-Regular.otf") format("opentype");
}

@mixin button($bgcolor, $color) {
  border-radius: 30px;
  padding: 12px 70px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.4em;
  font-family: 'Open Sans', sans-serif;
  background-color: $bgcolor;
  color: $color;
}

@mixin title($color) {
  padding-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  font-family: "Reey";
  font-size: 5em;
  color: $color;
}

@mixin absimg($top, $right) {
  position: absolute;
  top: $top;
  right: $right;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  // border: 1px solid red;
}

//menu=========================
.menu{
max-width: 1360px;
text-transform: uppercase;
font-size: 1.1em;
padding-top: 2em;
float: right;
}
.menu__item{
  margin: 0 1.5em;
  color: #fff;
  text-decoration: none;
}
.menu__input{
  margin: auto 0;
  border-radius: 30px;
  max-width: 120px;
  line-height: 30px;
  margin-right: 2em;
}

.hamburger {
  display: none;
  position: relative;
  z-index: 1;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  margin-right: 10px;

  span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: #fff;
    border-radius: 6px;
    z-index: 1;
  }
}
.adaptive-menu {
  display: none;
  font-size: 1.6em;
  position: absolute;
  background-color: #000;
  right: 0;
  top: 1em;
  max-width: 130px;
  a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
  }
  
}
.isActive {
  display: block;
}

//about======================
.about {
  background-image: url("../img/HeaderBackground.png");
  background-size: cover;
  padding-bottom: 220px;

  h2 {
    margin-top: 5em;
    font-style: italic;
    color:#fff;
  }
}
.about__title {
  font-family: "Reey";
  left: 100px;
  font-size: 5em;
  color:#fff;
}
.about__btn {
  @include button(#fff, #000);
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
}
.about__text {
  max-width: 480px;
  margin-top: 1.5em;
  color: #fff;
  font-size: 1.2em;
  font-style: italic;
  font-weight: 400;
}
.about__logo {
  margin-top: 10em;
  margin-bottom: 3em;
}
.about__spaghetti {
  @include absimg(10em, 14em);
  max-width: 35em;
}
.about__souce {
  @include absimg(40em, 36em)
}
.about__leafs {
  @include absimg(35em, 8em)
}

//example============================
.example {
  background-color: #fff;
  padding-bottom: 3em;
}
.example__title {
  @include title(#000)
}
.example__text {
  text-align: center;
  font-size: 1.5em;
}
.example__img {
  display: block;
  margin: 0 auto;
}
.example__colums {
  margin-top: 6em;
  display: flex;
  .example__column {
    flex: 33.33%
  }
}
.example__btn {
  @include button(#343434, #fff);
  display: block;
  margin: 128px auto 0 auto;
}

//info==============================
.info {
  background-color: #27292c;
  padding-bottom: 3em;
}
.info__title {
  @include title(#fff)
}
.info__colums {
  display: flex;
}
.info__column{
  color: #fff;
  flex: 50%;
  margin-right: 34px;
}
.info__btn {
  @include button(#fff, #000);
  display: block;
  margin: 100px auto 0 auto;
}

//promo================================
.promo {
  padding: 2em 0;
}
.promo__row {
  margin-top: 1em;
  display: flex;
  align-items: center;
}
.promo__column {
  flex: 50%;
}
.promo__img {
  width: 28em;
}
.promo__title {
  font-size: 3em;
  font-weight: bold;
}
.promo__text {
  font-size: 1.2em;
}
.promo__btn {
  @include button(#000,#fff);
  margin-top: 1.2em;
}

//pizza======================================
.pizza {
  background-image: url("../img/HeaderBackground.png");
  background-size: cover;
  position: relative;
  padding-bottom: 45em ;
}
.pizza__title {
  @include title(#fff)
}
.pizza__subtitle {
  color: #fff;
  max-width: 800px;
  text-align: center;
  font-size: 1.4em;
  margin: auto;
}
.pizza__leafs {
  @include absimg(-10em, 4em)
}
.pizza__img {
  @include absimg(28em, 10em);
  width: 45em;
}
.pizza__slice {
  @include absimg(54em, 40em);
  width: 25em;
}

//MEDIA=================================
@media (max-width:1170px) {
  .about__logo {
    margin: 2em 1em;
  }
  .about {
    padding-bottom: 2em;
  }
  .about h2 {
    margin-top: 2em;
  }
  .container {
    max-width: 970px;
  }
  .menu__item {
    display: none;
  }
  .menu__input {
    display: none;
  }
  .about__btn {
    display: block;
    margin: 2em auto;;
  }
  .about__text {
    text-align: center;
  }
  .title {
    font-size: 2em;
  }
  .hamburger {
    display: block;
  }
  .example__img {
    width: 14em;
  }
  .promo__img {
    width: 20em;
  }
  .img {
    display: none;
  }
  .pizza {
    padding-bottom: 2em;
  }
}
@media (max-width:992px) {
  .container {
    max-width: 750px;
  }
  .example__img {
    width: 10em;
  }
  .promo__img {
    width: 13em;
  }

}
@media (max-width:767px) {
  .container {
    max-width: none;
  }
  .example__img {
    width: 5em;
  }
  .promo__row {
    text-align: center;
  }
  .img-column {
    display: none;
  }
  .promo__img {
    display: none;
  }
}